<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-raindrop.yskoht.com.github</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7BC4D077-C06F-47E8-AEA1-A7AFA206F938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F126609F-4FB2-4E8B-8C7F-8E2233D3873A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF886CB4-D204-4507-8AAB-3D3A40F5CF4F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A61DDC1-3BD3-4227-B387-21DEAC847BFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2F33CA-9EBF-4A8E-A1A7-BAC2FC4EF7BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CA1775B-3DBE-45A2-8CD7-050D1A49D63A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A61B0C9F-06D4-494C-94F9-2D7DFF9341F4</key>
		<array/>
		<key>D4A849C5-70A6-4C10-8957-41FC5B8E09CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BC4D077-C06F-47E8-AEA1-A7AFA206F938</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB0B5B8D-2133-446C-BD4D-AD390BF4F357</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A61B0C9F-06D4-494C-94F9-2D7DFF9341F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>000E275C-5441-404A-B318-DE84EDB9E506</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4A849C5-70A6-4C10-8957-41FC5B8E09CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>000E275C-5441-404A-B318-DE84EDB9E506</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5911B878-544C-48E4-B214-33042801E882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFCC7C85-1593-4DC9-9CE0-715921A00F36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB0B5B8D-2133-446C-BD4D-AD390BF4F357</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yskoht</string>
	<key>description</key>
	<string>Open Raindrop bookmark</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Raindrop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Downloading bookmarks...</string>
				<key>title</key>
				<string>Raindrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A61B0C9F-06D4-494C-94F9-2D7DFF9341F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Download is complete!</string>
				<key>title</key>
				<string>Raindrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F126609F-4FB2-4E8B-8C7F-8E2233D3873A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/raindrop-sync</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4A849C5-70A6-4C10-8957-41FC5B8E09CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>raindrop-sync</string>
				<key>subtext</key>
				<string>Download bookmarks from Raindrop</string>
				<key>text</key>
				<string>Raindrop Bookmark Sync</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FFCC7C85-1593-4DC9-9CE0-715921A00F36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>DF886CB4-D204-4507-8AAB-3D3A40F5CF4F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7BC4D077-C06F-47E8-AEA1-A7AFA206F938</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:testToken}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>testToken found</string>
						<key>uid</key>
						<string>000E275C-5441-404A-B318-DE84EDB9E506</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB0B5B8D-2133-446C-BD4D-AD390BF4F357</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please set testToken to environment variables</string>
				<key>title</key>
				<string>Raindrop: testToken not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5911B878-544C-48E4-B214-33042801E882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A61DDC1-3BD3-4227-B387-21DEAC847BFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CA1775B-3DBE-45A2-8CD7-050D1A49D63A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./bin/raindrop-search $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Raindrop</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E2F33CA-9EBF-4A8E-A1A7-BAC2FC4EF7BA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1CA1775B-3DBE-45A2-8CD7-050D1A49D63A</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>5911B878-544C-48E4-B214-33042801E882</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>6A61DDC1-3BD3-4227-B387-21DEAC847BFD</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>7BC4D077-C06F-47E8-AEA1-A7AFA206F938</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>7E2F33CA-9EBF-4A8E-A1A7-BAC2FC4EF7BA</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>A61B0C9F-06D4-494C-94F9-2D7DFF9341F4</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D4A849C5-70A6-4C10-8957-41FC5B8E09CB</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>DB0B5B8D-2133-446C-BD4D-AD390BF4F357</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F126609F-4FB2-4E8B-8C7F-8E2233D3873A</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FFCC7C85-1593-4DC9-9CE0-715921A00F36</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>testToken</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>testToken</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/yskoht/alfred-raindrop</string>
</dict>
</plist>
